body{
    display: flex;
    justify-content: center;
}

#outerShell{
    background-color: black;
    display: flex;
    align-content: center;
    border: 4px solid black;
    border-radius: 20px;
    margin-top: 60px;
}

#innerShell{
    background-color: rgb(4, 71, 99);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 520px;
    border: 4px solid black;
    border-radius: 20px;
    margin: 5px 5px;

}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    gap: 2px;
}

button{
    width: 78px;
    height: 78px;
    border-radius: 12px;
    font-size: 22px;
}

button:hover{
    border: 3px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

button:active{
    border: 4px solid gold;
    box-shadow: 9px 9px 9px rgba(0, 0, 0, 1);;
}

#equals{
    width: 158px;
}

#display{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 312px;
    height: 50px;
    border: 2px solid black;
    border-radius: 8px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

#primaryDisplay{
    font-size: 18px;
}

#secondaryDisplay{
    font-size: 13px;
}

.special{
    background-color: red;
}

.op{
    background-color: rgb(74, 109, 235);
}

#percent{
    background-color: rgb(74, 109, 235);
}

.num, #point {
    background-color: rgb(60, 182, 230);
}

#equals{
    background-color: rgb(29, 64, 190);
}